table a,
table a:link,
table a:visited {
    border: none;
}

img {
    border: 0;
    margin-top: .5em;
}

table {
    width: 90%;
    margin: 1em auto;
    border-collapse: collapse;
    border: 1px solid #a2caf2;
}

caption {
    color: #9ba9b4;
    font-size: 16px;
    letter-spacing: .2em;
    margin: 1em 0 0 0;
    padding: 0;
    caption-side: top;
    text-align: center;
    font-weight: normal;
    border-top: 1px solid #a2caf2;
    border-left: 1px solid #a2caf2;
    border-right: 1px solid #a2caf2;
}

tr.odd .column1 {
    background: rgb(245, 244, 242);
}

tr.odd.column1Failed {
    background: #a90000;
    width: 30px;
}

tr.odd td, tr.sep td {
    background: #FFFFFF;
}

tr.sep .column1 {
    background: #7CCD7C;
}

tr.odd .ex,
tr.sep .ex,
td.ex {
    text-align: left;
    width: 100px;
}

td.exShow {
    text-align: left;
    width: 100px;
    color: #000;
}

td.statusCount {
    width: auto;
}

th.statusCount {
    width: auto;
}

td.critical {
    text-align: left;
    width: 100px;
}

td.Message {
    text-align: center;
    width: auto;
    word-wrap: break-word;
}

td.Messages {
    text-align: left;
    width: auto;
    word-wrap: break-word;
    max-width: 550px;
}

.Atached {
    width: 30px;
}

td.Function {
    text-align: left;
}

tr.sep .error,
tr.odd .error,
td.error {
    background: #F08080;
}

tr.odd .warn,
tr.sep .warn,
td.warn {
    width: 90px;
}

td.outcomeMessage {
    max-width: 240px;
}

tr.odd .info,
td.info,
tr.sep .info {
    color: #c7c7c7;
    background: #e0e0e0;
    width: 90px;
}

tr.odd .failed,
tr.sep.failed,
td.failed {
    width: 90px;
}

tr.odd .passed,
tr.sep.passed,
td.passed {
    width: 90px;
}

td {
    color: #425b71;
    ;
    padding: .3em 1em;
    text-align: center;
    border-top: 1px solid #a2caf2;
    word-wrap: break-word;
}

th {
    font-weight: normal;
    color: #678197;
    text-align: left;
    border-top: 1px solid #a2caf2;
    padding: .3em 1em;
}

thead th.TestsTable {
    font-size: 17px;
    font-weight: normal;
}

thead th {
    background: rgb(245, 244, 242);
    text-align: center;
    font: bold 1.2em/2em "Century Gothic","Trebuchet MS",Arial,Helvetica,sans-serif;
    color: #66a3d3;
}

tfoot th {
    text-align: center;
    background: #f4f9fe;
}

    tfoot th strong {
        font: bold 1.2em "Century Gothic","Trebuchet MS",Arial,Helvetica,sans-serif;
        margin: .5em .5em .5em 0;
        color: #678197;
    }

    tfoot th em {
        color: #678197;
        font-weight: bold;
        font-size: 1.1em;
        font-style: normal;
    }
