
html, 
body, 
form, 
fieldset, 
h2, 
h3, 
h4, 
h5, 
h6, 
p, 
pre, 
blockquote, 
ul, 
ol, 
dl, 
address {
	margin:0;
	padding:0;
}


#exceptionArrow {
   float: left;
   font-size: 20px;
}


h1 {
	font-size: 25px;
}
body {
	font:16px/20px "Trebuchet MS",Verdana,Arial,Helvetica,sans-serif;
	margin-top: -10px;
	min-width: 890px;
}

p 	{
	text-align:center;
}	
a:link {
	color:#d42945;
	text-decoration:none;
	border-bottom:1px dotted #ffbac8;
	}	
a:visited {
	color:#d42945;
	border-bottom:none;
	text-decoration:none;
	}		
a:hover,
a:focus {
	color:#f03b58;
	border-bottom:1px solid #f03b58;
	text-decoration:none;
	}


.StatusesBorders {
	border-width: 0;
	border-right: 1px solid;
 	border-left: 1px solid;
 	width: 100px;
}

.PackageStatus {
 	width: 100px;
}

.SummaryTable {
    width: auto;
	max-width: 407px;
	float:left;
	margin-right: 20px;
}

#divToRefresh > div > table.SummaryTable > tbody > tr > th {
	width: auto;
}

.DetailsTable {
    width: auto;
	max-width: 407px;
	float:left;
	margin-right: 20px;
	text-align: left;
	word-wrap:break-word;
}

.StatusesTable {
	width:auto;
}

#divToRefresh > div.SummaryDiv > table.DetailsTable > tbody > tr> td {
	text-align: left;
	word-wrap:break-word;
}

#divToRefresh > div.SummaryDiv > table.DetailsTable > tbody > tr > th{
	width: 30px;
	/*background-color: #FFFFFF;*/
}

td.slowest {
    width: auto;
}

#TotalTestsTable {
	min-width:250px;
	width:auto;
	float:left;
	margin-right: 20px;
}

.SummaryDiv {
	width:90%;
	border-top:1px solid #e5eff8;
	border-right:1px solid #e5eff8;
	margin:1em auto;
	border-collapse:collapse;
}

.Summary {
	float: left;
	border-collapse:collapse;
}

#btn-download {
	font-size: 14px;
}

.column1	{
	background:#dbedff;
	width:170px;
	}

#ReportsTable > tbody > tr> th {
	background:#E8E8E8;
		width:170px;
}
#ReportsTable th {
}

#TotalPassed{
	min-width:30px;
	width: auto;
	height: auto;
	color: #7CCD7C;
	background:#c0eec0;
    border: 1px solid #7CCD7C;
    margin-bottom: 5px;

}

#TotalWarn {
	min-width:30px;
	width: auto;
	height: auto;
	color: #E4C100;
	background:#FBE87E;
    border: 1px solid #E4C100;
    margin-bottom: 5px;
}

#TotalFailed {
	min-width:30px;
	width: auto;
	height: auto;
	color: #d42945;
	background:#fed9d9;
    border: 1px solid #d42945;
    margin-bottom: 5px;
}

#TotalInfo {
	min-width:30px;
	width: auto;
	height: auto;
    border: 1px solid #c7c7c7;
    color: #c7c7c7;
	background:#e0e0e0;
}
#dataViewer {
	width: 240px;
}

.OpenMoreButton {
	height:auto;
	width:200px;
	cursor:pointer;	
	text-decoration:none;
	text-align:center;
	color: #1b99fb;
	background-color: white;
    border: 1px solid #7ac5ff;
    float: right;
}

.OpenMoreButton:hover {
	background-color:#bfe3ff;
	text-decoration:none;
}



#MoreButtonText {
	color:#1b99fb;
	top:0;
	left:25px;
	font-weight:normal;
	text-align:center;
	font-size:15px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}

.NumberTag {
	display: inline;
	padding-left: 3px;
	padding-right:3px;
	margin-right: 4px;
	height: auto;
	color: #678197;
    border: 1px solid #78bcff;
    background-color: #ffffff;
	border-radius: 8px;
	text-align: center;
	margin-bottom: 2px;
	line-height:27px;
}

.NumberTagRed {
    background-color: #fed9d9;
}

.NumberTagGreen {
    background-color: #c0eec0;
}

.NumberTagYellow {
    background-color: #FBE87E;
}

.hiddenRow {
 display:none;
 visibility:hidden;
}

.visibleRow {
 visibility:visible;
}
