
html,
body,
form,
fieldset,
h2,
h3,
h4,
h5,
h6,
p,
pre,
blockquote,
ul,
ol,
dl,
address {
    margin: 0;
    padding: 0;
}

.wrapOverall {
    width: auto;
    margin: -8px 0px 0px 0px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

#floatingImageBackground {
    position: fixed;
    display: none;
    top: 50%;
    left: 50%;
    margin-top: -300px;
    margin-left: -330px;
    z-index: 100;
    width: 680px;
    height: 600px;
    visibility: hidden;
    background-color: #fff;
    background-repeat: no-repeat;
    border: 2px #0f9bdc;
    border-style: solid;
}

.hWhite {
    color: white;
}

.titleCenterd {
    position: relative;
    top: 12px;
}

.StatusBar {
    width: 100%;
    height: 60px;
}

.statusBarPassed {
    background-color: #5bab5b;
}

.statusBarFailed {
    background-color: #b93333;
}

.statusBarFailedInner {
    position: relative;
    background-color: #a90000;
    width: 100%;
    height: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    top: 15%;
}

.statusBarPassedInner {
    position: relative;
    background-color: #339833;
    width: 100%;
    height: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    top: 15%;
}

#floatingImage {
    position: relative;
    margin-left: 8%;
    margin-top: 6%;
    width: auto;
    max-width: 566px;
}

.floatingImageCloseButton {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAYAAACM/rhtAAAACXBIWXMAAAsTAAALEwEAmpwYAAAKT2lDQ1BQaG90b3Nob3AgSUNDIHByb2ZpbGUAAHjanVNnVFPpFj333vRCS4iAlEtvUhUIIFJCi4AUkSYqIQkQSoghodkVUcERRUUEG8igiAOOjoCMFVEsDIoK2AfkIaKOg6OIisr74Xuja9a89+bN/rXXPues852zzwfACAyWSDNRNYAMqUIeEeCDx8TG4eQuQIEKJHAAEAizZCFz/SMBAPh+PDwrIsAHvgABeNMLCADATZvAMByH/w/qQplcAYCEAcB0kThLCIAUAEB6jkKmAEBGAYCdmCZTAKAEAGDLY2LjAFAtAGAnf+bTAICd+Jl7AQBblCEVAaCRACATZYhEAGg7AKzPVopFAFgwABRmS8Q5ANgtADBJV2ZIALC3AMDOEAuyAAgMADBRiIUpAAR7AGDIIyN4AISZABRG8lc88SuuEOcqAAB4mbI8uSQ5RYFbCC1xB1dXLh4ozkkXKxQ2YQJhmkAuwnmZGTKBNA/g88wAAKCRFRHgg/P9eM4Ors7ONo62Dl8t6r8G/yJiYuP+5c+rcEAAAOF0ftH+LC+zGoA7BoBt/qIl7gRoXgugdfeLZrIPQLUAoOnaV/Nw+H48PEWhkLnZ2eXk5NhKxEJbYcpXff5nwl/AV/1s+X48/Pf14L7iJIEyXYFHBPjgwsz0TKUcz5IJhGLc5o9H/LcL//wd0yLESWK5WCoU41EScY5EmozzMqUiiUKSKcUl0v9k4t8s+wM+3zUAsGo+AXuRLahdYwP2SycQWHTA4vcAAPK7b8HUKAgDgGiD4c93/+8//UegJQCAZkmScQAAXkQkLlTKsz/HCAAARKCBKrBBG/TBGCzABhzBBdzBC/xgNoRCJMTCQhBCCmSAHHJgKayCQiiGzbAdKmAv1EAdNMBRaIaTcA4uwlW4Dj1wD/phCJ7BKLyBCQRByAgTYSHaiAFiilgjjggXmYX4IcFIBBKLJCDJiBRRIkuRNUgxUopUIFVIHfI9cgI5h1xGupE7yAAygvyGvEcxlIGyUT3UDLVDuag3GoRGogvQZHQxmo8WoJvQcrQaPYw2oefQq2gP2o8+Q8cwwOgYBzPEbDAuxsNCsTgsCZNjy7EirAyrxhqwVqwDu4n1Y8+xdwQSgUXACTYEd0IgYR5BSFhMWE7YSKggHCQ0EdoJNwkDhFHCJyKTqEu0JroR+cQYYjIxh1hILCPWEo8TLxB7iEPENyQSiUMyJ7mQAkmxpFTSEtJG0m5SI+ksqZs0SBojk8naZGuyBzmULCAryIXkneTD5DPkG+Qh8lsKnWJAcaT4U+IoUspqShnlEOU05QZlmDJBVaOaUt2ooVQRNY9aQq2htlKvUYeoEzR1mjnNgxZJS6WtopXTGmgXaPdpr+h0uhHdlR5Ol9BX0svpR+iX6AP0dwwNhhWDx4hnKBmbGAcYZxl3GK+YTKYZ04sZx1QwNzHrmOeZD5lvVVgqtip8FZHKCpVKlSaVGyovVKmqpqreqgtV81XLVI+pXlN9rkZVM1PjqQnUlqtVqp1Q61MbU2epO6iHqmeob1Q/pH5Z/YkGWcNMw09DpFGgsV/jvMYgC2MZs3gsIWsNq4Z1gTXEJrHN2Xx2KruY/R27iz2qqaE5QzNKM1ezUvOUZj8H45hx+Jx0TgnnKKeX836K3hTvKeIpG6Y0TLkxZVxrqpaXllirSKtRq0frvTau7aedpr1Fu1n7gQ5Bx0onXCdHZ4/OBZ3nU9lT3acKpxZNPTr1ri6qa6UbobtEd79up+6Ynr5egJ5Mb6feeb3n+hx9L/1U/W36p/VHDFgGswwkBtsMzhg8xTVxbzwdL8fb8VFDXcNAQ6VhlWGX4YSRudE8o9VGjUYPjGnGXOMk423GbcajJgYmISZLTepN7ppSTbmmKaY7TDtMx83MzaLN1pk1mz0x1zLnm+eb15vft2BaeFostqi2uGVJsuRaplnutrxuhVo5WaVYVVpds0atna0l1rutu6cRp7lOk06rntZnw7Dxtsm2qbcZsOXYBtuutm22fWFnYhdnt8Wuw+6TvZN9un2N/T0HDYfZDqsdWh1+c7RyFDpWOt6azpzuP33F9JbpL2dYzxDP2DPjthPLKcRpnVOb00dnF2e5c4PziIuJS4LLLpc+Lpsbxt3IveRKdPVxXeF60vWdm7Obwu2o26/uNu5p7ofcn8w0nymeWTNz0MPIQ+BR5dE/C5+VMGvfrH5PQ0+BZ7XnIy9jL5FXrdewt6V3qvdh7xc+9j5yn+M+4zw33jLeWV/MN8C3yLfLT8Nvnl+F30N/I/9k/3r/0QCngCUBZwOJgUGBWwL7+Hp8Ib+OPzrbZfay2e1BjKC5QRVBj4KtguXBrSFoyOyQrSH355jOkc5pDoVQfujW0Adh5mGLw34MJ4WHhVeGP45wiFga0TGXNXfR3ENz30T6RJZE3ptnMU85ry1KNSo+qi5qPNo3ujS6P8YuZlnM1VidWElsSxw5LiquNm5svt/87fOH4p3iC+N7F5gvyF1weaHOwvSFpxapLhIsOpZATIhOOJTwQRAqqBaMJfITdyWOCnnCHcJnIi/RNtGI2ENcKh5O8kgqTXqS7JG8NXkkxTOlLOW5hCepkLxMDUzdmzqeFpp2IG0yPTq9MYOSkZBxQqohTZO2Z+pn5mZ2y6xlhbL+xW6Lty8elQfJa7OQrAVZLQq2QqboVFoo1yoHsmdlV2a/zYnKOZarnivN7cyzytuQN5zvn//tEsIS4ZK2pYZLVy0dWOa9rGo5sjxxedsK4xUFK4ZWBqw8uIq2Km3VT6vtV5eufr0mek1rgV7ByoLBtQFr6wtVCuWFfevc1+1dT1gvWd+1YfqGnRs+FYmKrhTbF5cVf9go3HjlG4dvyr+Z3JS0qavEuWTPZtJm6ebeLZ5bDpaql+aXDm4N2dq0Dd9WtO319kXbL5fNKNu7g7ZDuaO/PLi8ZafJzs07P1SkVPRU+lQ27tLdtWHX+G7R7ht7vPY07NXbW7z3/T7JvttVAVVN1WbVZftJ+7P3P66Jqun4lvttXa1ObXHtxwPSA/0HIw6217nU1R3SPVRSj9Yr60cOxx++/p3vdy0NNg1VjZzG4iNwRHnk6fcJ3/ceDTradox7rOEH0x92HWcdL2pCmvKaRptTmvtbYlu6T8w+0dbq3nr8R9sfD5w0PFl5SvNUyWna6YLTk2fyz4ydlZ19fi753GDborZ752PO32oPb++6EHTh0kX/i+c7vDvOXPK4dPKy2+UTV7hXmq86X23qdOo8/pPTT8e7nLuarrlca7nuer21e2b36RueN87d9L158Rb/1tWeOT3dvfN6b/fF9/XfFt1+cif9zsu72Xcn7q28T7xf9EDtQdlD3YfVP1v+3Njv3H9qwHeg89HcR/cGhYPP/pH1jw9DBY+Zj8uGDYbrnjg+OTniP3L96fynQ89kzyaeF/6i/suuFxYvfvjV69fO0ZjRoZfyl5O/bXyl/erA6xmv28bCxh6+yXgzMV70VvvtwXfcdx3vo98PT+R8IH8o/2j5sfVT0Kf7kxmTk/8EA5jz/GMzLdsAAAAgY0hSTQAAeiUAAICDAAD5/wAAgOkAAHUwAADqYAAAOpgAABdvkl/FRgAABBtJREFUeNrUmUtPG1cUgD+blxsenhpHTUEtkwi6QBBNpG5qb6wWRaq6sdRkFUWy4i2J5h+MvLDbn5AN66z8D1hYssp6VAjroTXtAmzGTUITyHi6OYOuBxtsIMWMdDRzx557Pp/X3Hsc4fJHRDkH174IyvlSk/f7TASIAkMiwzJWAVvAR8ATaYXArxwwogCNiowp1wEkCtyRyAflOgD2rwowolhpDPgMuAVMAOMyjgEj8j0E4Bh4D/wLvAPeAocy/qBY178oYODKAOwWMAXEAU1kCphIpVIzy8vLyUQiMQ7QaDTebW5u7m9sbPwlYP8ArkhTxocKaFfXD58DN6KAJYDbIgnLslIrKyv3FxcXv04kEhOdJmk0Gm+3t7f/WF9f/71QKGwADWBPpKGAHveTUEECxIBpYAFIA4+B1WKxWK7X62/8Po96vf6mWCyWgVWZKy1zT4uuaCePdnJxVCw3ASSBL4Gv8vl8ulAo/Dw7O5sMP7Czs4PjOLiuC4Cmaei6ztzc3KnJd3d39y3LKq+trf0G/An8DexLKBxLgp1pvVHgc/l1GSBXKpXKnud5qkUcx/FN0/R1XfeVGGoTXdd90zR9x3HarOl5nlcqlcpATnQsiM7R8xJ3GJgE5sQFT0ulUlmd3HVd3zTNrlDdxDRN33XdNlCBfCq65kT38FnWiwFfAA+Ax/l8/qVqOdu2fcMw+oYLxDAM37btNkvm8/mXEpMPRHesmxWHpYQsAA+B1VqttqfCaZp2YbhANE1rg6zVanuSOA9Fd7yTFSNS6+4A3wJPisViWXXrZSzXyZKquyW7n4juO8ISCWfuJHAPWAGeq6XkIjHXS0yqJQh4LrrvCUs07N5p4D7wyLKsV2q2nqUom812tK5hGH42mz3zWTW7Lct6BTwShumwm8eAGeA74Fm1Wn3di/VyuVzHEFBdmMvlerJitVp9DTwThhlhOom/ceAu8APwQnVvtzqXzWb9cPkxDONUfPm+39WSuq6H3fwC+B7Q5RUbCQCngG+An1Kp1K+9uLcTiOu6He+dlWCqm9Pp9C/Aj5LNk0Akqrx7R4CRpaWl24FpHcfpWtFt2yaTydBsNk/uxeNx4vH4ybjZbJLJZLBtu+s8qg7RHawth8KAUWBofn4+0QtgN8h+4MJHq9UKFsRRtbygLnUODg7eBzc0TeO6j6iyf2gBXr1eP+wV0DAMKpVKm1tVd1cqFQzD6B0mGlX3L6cAPwJHW1tbe8GHuq73BddsNk/F5HmQqg7RfRTeDkQkpXVJ8YErMwNfqG/Eq27gFwsDv9wa+AXrjVjyD/ymaSC3nVe6cQdwXfeTbtxvROvjuppHHTtcV9p+a7VaQ8lkMnaV7bcb3cDspwU8EmoB+/9nC7iXJnogahPdC8knb6Jfy98Q/w0Amdn66HQGzvsAAAAASUVORK5CYII=');
    font-size: 50px;
    width: 40px;
    height: 40px;
    position: relative;
    bottom: 20px;
    left: 3%;
    text-align: center;
    cursor: pointer;
    float: right;
    background-repeat: no-repeat;
}

.atachmentImage {
    float: right;
    cursor: pointer;
    width: 20px;
    height: 20px;
    background-size: 20px 20px;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgBAMAAACBVGfHAAAAJFBMVEUAAAD///8AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAW+S7RAAAAC3RSTlMAABBAYHCfv8/f7y5wfg4AAACNSURBVHhendC9DYMwFEXhq0BEi7egTJEBIlHSuKdhBHpGYARGSEtA8JaDBwjbt0Aop/zk5z8Y6gZoh8KVyVrl4NEqDDiXZ7JVGZPu0O4wbPDsxGuyKCXoh28IM4Q6YMzfTQAfIPahx1rhQa2QONAJnXHwUoiugEd4Uz6WL8ZXF4qfP/EH9fSFs4Wh/oAFE9baEPQEC+YAAAAASUVORK5CYIIyNjk=');
}


#exceptionArrow {
    float: left;
    font-size: 20px;
}

h1 {
    font-size: 25px;
}

body {
    font: 16px/20px "Trebuchet MS",Verdana,Arial,Helvetica,sans-serif;
    margin-top: -10px;
    min-width: 890px;
}

p {
    text-align: center;
}

a:link {
    color: #d42945;
    text-decoration: none;
    border-bottom: 1px dotted #ffbac8;
}

a:visited {
    color: #d42945;
    border-bottom: none;
    text-decoration: none;
}

a:hover,
a:focus {
    color: #f03b58;
    border-bottom: 1px solid #f03b58;
    text-decoration: none;
}


.StatusesBorders {
    border-width: 0;
    border-right: 1px solid;
    border-left: 1px solid;
    width: 100px;
}

.PackageStatus {
    width: 100px;
}

.SummaryTable {
    width: auto;
    max-width: 407px;
    float: left;
    margin-right: 20px;
}

#divToRefresh > div > table.SummaryTable > tbody > tr > th {
    width: auto;
}

.DetailsTable {
    width: auto;
    max-width: 407px;
    float: left;
    margin-right: 20px;
    text-align: left;
    word-wrap: break-word;
}

.StatusesTable {
    width: auto;
}

#divToRefresh > div.SummaryDiv > table.DetailsTable > tbody > tr > td {
    text-align: left;
    word-wrap: break-word;
}

#divToRefresh > div.SummaryDiv > table.DetailsTable > tbody > tr > th {
    width: 30px;
    /*background-color: #FFFFFF;*/
}

td.slowest {
    width: auto;
}

#TotalTestsTable {
    min-width: 250px;
    width: auto;
    float: left;
    margin-right: 20px;
}

.SummaryDiv {
    width: 98%;
    border-top: 1px solid #e5eff8;
    border-right: 1px solid #e5eff8;
    margin: 1em auto;
    border-collapse: collapse;
}

.Summary {
    float: left;
    border-collapse: collapse;
}

#btn-download {
    font-size: 14px;
}

.column1 {
    background: #dbedff;
    width: 170px;
}

.column1Failed {
    background: #fed9d9;
    width: 30px;
}

#ReportsTable > tbody > tr > th {
    background: #E8E8E8;
    width: 170px;
}

#ReportsTable th {
}

#TotalPassed {
    min-width: 30px;
    width: auto;
    height: auto;
    color: #7CCD7C;
    background: #c0eec0;
    border: 1px solid #7CCD7C;
    margin-bottom: 5px;
}

#TotalWarn {
    min-width: 30px;
    width: auto;
    height: auto;
    color: #E4C100;
    background: #FBE87E;
    border: 1px solid #E4C100;
    margin-bottom: 5px;
}

#TotalFailed {
    min-width: 30px;
    width: auto;
    height: auto;
    color: #d42945;
    background: #fed9d9;
    border: 1px solid #d42945;
    margin-bottom: 5px;
}

#TotalInfo {
    min-width: 30px;
    width: auto;
    height: auto;
    border: 1px solid #c7c7c7;
    color: #c7c7c7;
    background: #e0e0e0;
}

#dataViewer {
    width: 240px;
}

.OpenMoreButton {
    height: auto;
    width: 200px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    color: #1b99fb;
    background-color: white;
    border: 1px solid #7ac5ff;
    float: right;
}

    .OpenMoreButton:hover {
        background-color: #bfe3ff;
        text-decoration: none;
    }



#MoreButtonText {
    color: #1b99fb;
    top: 0;
    left: 25px;
    font-weight: normal;
    text-align: center;
    font-size: 15px;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

.NumberTag {
    display: inline;
    padding-left: 3px;
    padding-right: 3px;
    margin-right: 4px;
    height: auto;
    color: #678197;
    border: 1px solid #78bcff;
    background-color: #ffffff;
    border-radius: 8px;
    text-align: center;
    margin-bottom: 2px;
    line-height: 27px;
}

.NumberTagRed {
    background-color: #fed9d9;
}

.NumberTagGreen {
    background-color: #c0eec0;
}

.NumberTagYellow {
    background-color: #FBE87E;
}

.hiddenRow {
    display: none;
    visibility: hidden;
}

.visibleRow {
    visibility: visible;
}

.wordwrap {
    white-space: pre-wrap; /* css-3 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */ 
    word-break: break-all; /* Firefox */
}
