.tooltip {
    display: inline;
    position: relative;
}

    .tooltip:hover:after {
        background: #333;
        background: rgba(0,0,0,.8);
        border-radius: 5px;
        bottom: 26px;
        color: #fff;
        content: attr(title);
        padding: 5px 15px;
        position: absolute;
        z-index: 98;
        max-width: 300px;
        width: auto;
    }

