.tooltip {
    display: inline;
    position: relative;
}

    .tooltip:hover:after {
        background: #333;
        background: rgba(0,0,0,.8);
        border-radius: 5px;
        bottom: 26px;
        color: #fff;
        content: attr(title);
        padding: 5px 10px;
        position: absolute;
        z-index: 98;
        max-width: 300px;
        width: auto;
    }

    .tooltip:hover:before {
        border: solid;
        border-color: #333 transparent;
        border-width: 6px 6px 0 6px;
        bottom: 20px;
        content: "";
        left: 50%;
        position: absolute;
        z-index: 99;
    }